<a href="https://colab.research.google.com/github/smileSD/Credit-Score/blob/main/Credit_Score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv("CreditScore.csv")
df.head()

,x001,x002,x003,x004,x005,x006,x007,x008,x009,x010,...,x296,x297,x298,x299,x300,x301,x302,x303,x304,y
0,1084094,426.0,39.0,128.0,426.0,0,0,0,0,0,...,0,NaN,0,0,0,0,NaN,0,NaN,807
1,1287777,160.0,2.0,64.0,160.0,1,1,2,0,1,...,17318,0.8417,1,1,1,0,NaN,0,NaN,819
2,1483016,163.0,16.0,104.0,239.0,0,0,0,1,0,...,0,NaN,0,0,0,0,NaN,0,NaN,803
3,959054,NaN,NaN,NaN,102.0,0,0,0,0,0,...,0,NaN,1,1,1,0,NaN,0,NaN,530
4,1342113,3.0,2.0,2.0,62.0,0,2,2,0,0,...,17413,1.0180,1,1,1,0,NaN,0,NaN,485

In [ ]:
df.shape

(80000, 305)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Columns: 305 entries, x001 to y
dtypes: float64(41), int64(264)
memory usage: 186.2 MB

In [ ]:
df.dtypes

x001      int64
x002    float64
x003    float64
x004    float64
x005    float64
         ...
x301      int64
x302    float64
x303      int64
x304    float64
y         int64
Length: 305, dtype: object

In [ ]:
df.isna().sum()

x001        0
x002    17185
x003    17185
x004    17181
x005     4867
        ...
x301        0
x302    58471
x303        0
x304    65456
y           0
Length: 305, dtype: int64

In [ ]:
lst=[]
lst=df.columns

In [ ]:
row=df.shape[0]
cols=[]

Columns will more than 70% nan values are removed

In [ ]:
[cols.append(i) for i in lst if df[i].isnull().sum()/row*100 > 70 ]
len(cols)

10

In [ ]:
df=df.drop(cols,axis=1)

In [ ]:
df.shape

(80000, 295)

Finding the outliers

In [ ]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

x001    470993.0
x002       148.0
x003        21.0
x004        73.0
x005       159.0
          ...
x299         1.0
x300         1.0
x301         0.0
x303         0.0
y          195.0
Length: 295, dtype: float64

In [ ]:
df = df[~((df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))).any(axis=1)]
df

,x001,x002,x003,x004,x005,x006,x007,x008,x009,x010,...,x293,x294,x296,x297,x298,x299,x300,x301,x303,y
468,1368897,12.0,12.0,12.0,25.0,1,0,1,1,1,...,NaN,0,0,NaN,0,0,0,0,0,758
640,1449938,NaN,NaN,NaN,287.0,1,0,0,0,0,...,NaN,0,0,NaN,0,0,0,0,0,823
1054,799371,NaN,NaN,NaN,8.0,1,0,1,0,0,...,NaN,0,0,NaN,0,0,0,0,0,705
1181,1284786,NaN,NaN,NaN,240.0,1,0,0,0,0,...,NaN,0,0,NaN,0,0,0,0,0,743
1292,1301675,212.0,19.0,125.0,224.0,0,0,0,1,0,...,NaN,0,0,NaN,0,0,0,0,0,824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78773,1648640,77.0,3.0,40.0,344.0,1,1,1,0,0,...,0.9699,0,6382,0.9699,1,1,1,0,0,812
79007,1450386,NaN,NaN,NaN,85.0,1,1,1,0,0,...,NaN,0,0,NaN,0,0,0,0,0,622
79069,1071290,NaN,NaN,NaN,124.0,1,0,0,0,0,...,NaN,0,0,NaN,0,0,0,0,0,788
79645,1146691,NaN,NaN,NaN,248.0,1,0,0,0,0,...,NaN,0,0,NaN,0,0,0,0,0,812
79730,855874,9.0,9.0,9.0,9.0,0,0,1,0,0,...,NaN,0,0,NaN,0,0,0,0,0,566

In [ ]:
df=df.fillna(df.mean())

In [ ]:
df.isna().sum()

x001    0
x002    0
x003    0
x004    0
x005    0
       ..
x299    0
x300    0
x301    0
x303    0
y       0
Length: 295, dtype: int64

In [ ]:
cor_target = df.corr()['y']
#Selecting lesser correlated features
relevant_features = cor_target[cor_target>0.3]
relevant_features

x002    0.345184
x003    0.327220
x004    0.385139
x005    0.577892
x011    0.324109
x012    0.321270
x014    0.543930
x015    0.595235
x017    0.606833
x018    0.470004
x020    0.595209
x022    0.546055
x030    0.478078
x042    0.316483
x043    0.346106
x044    0.533718
x224    0.311290
x225    0.334720
x226    0.320007
x235    0.548074
x236    0.340875
x237    0.351331
x238    0.335155
x239    0.396033
y       1.000000
Name: y, dtype: float64

In [ ]:
data=[]
for i,j in relevant_features.items():
    data.append(i)

In [ ]:
data.remove('y')

In [ ]:
x=df[data]
x.shape

(392, 24)

In [ ]:
y=df.y
y.shape

(392,)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

In [ ]:
test_size = 0.30
X_train, X_test, Y_train, Y_test = train_test_split(x, y,test_size=test_size, random_state=42)

Finding the relevant model to train and predict

In [ ]:
folds   = 5
metric  = "neg_mean_absolute_error"

# hold different regression models in a single dictionary
models = {}
models["Linear"]        = LinearRegression()
models["DecisionTree"]  = DecisionTreeRegressor()
models["RandomForest"]  = RandomForestRegressor()

# 5-fold cross validation for each model
model_results = []
model_names   = []
for model_name in models:
	model   = models[model_name]
	k_fold  = KFold(n_splits=folds)
	results = cross_val_score(model, X_train, Y_train, cv=k_fold, scoring=metric)
	
	model_results.append(results)
	model_names.append(model_name)
	print("{}: {}, {}".format(model_name, round(results.mean(), 3), round(results.std(), 3)))

Linear: -41.217, 4.046
DecisionTree: -37.036, 3.556
RandomForest: -31.527, 3.758

In [ ]:
model = RandomForestRegressor()
model.fit(X_train,Y_train)

RandomForestRegressor()

In [ ]:
y_predict = model.predict(X_test)
y_predict

array([733.51, 658.52, 773.18, 783.07, 782.38, 782.85, 805.29, 695.4 ,
       769.38, 545.91, 761.93, 706.92, 772.41, 722.7 , 743.32, 767.69,
       686.87, 747.15, 813.02, 762.21, 799.82, 612.66, 757.89, 758.01,
       557.52, 715.58, 742.78, 716.9 , 745.29, 805.13, 787.04, 746.1 ,
       649.88, 745.04, 804.46, 739.99, 691.97, 723.75, 609.76, 689.81,
       734.04, 690.73, 770.04, 751.44, 807.57, 574.47, 755.68, 755.01,
       672.01, 815.84, 809.26, 737.61, 748.03, 809.55, 800.04, 743.06,
       810.12, 792.71, 747.08, 635.14, 756.84, 675.24, 794.62, 801.9 ,
       770.93, 528.49, 728.39, 754.72, 752.03, 794.98, 819.93, 794.53,
       779.05, 810.32, 777.01, 659.1 , 762.21, 779.03, 797.76, 575.42,
       794.04, 770.74, 513.11, 805.13, 738.24, 800.96, 736.32, 705.33,
       789.02, 725.62, 777.79, 746.06, 805.41, 757.67, 660.35, 676.94,
       802.41, 698.11, 727.74, 811.89, 702.65, 672.49, 785.29, 762.21,
       766.7 , 797.48, 723.89, 678.31, 735.43, 778.21, 712.33, 763.81,
       751.92, 764.  , 530.53, 564.67, 768.06, 763.04])

In [ ]:
Y_test

16985    787
56276    581
50573    817
12724    790
78773    812
        ...
17005    774
64475    525
72389    596
51037    784
30739    762
Name: y, Length: 118, dtype: int64

In [ ]:
error_percent = np.mean(np.abs((Y_test - y_predict) / Y_test)) * 100
print("Mean Absolute Percentage Error (TEST DATA): ",error_percent )

Mean Absolute Percentage Error (TEST DATA):  3.727133024664527

In [ ]:
from sklearn.metrics import mean_squared_error
# rmse = % np.sqrt(mean_squared_error(Y_test, y_predict)
print("RMSE : %.4g" % np.sqrt(mean_squared_error(Y_test, y_predict)))

RMSE : 35.57